<div ng-include="'app/shared/header/header_loggedin.html'"></div>
<p class="thankyou ">
  Your Shopping Bag
</p>
<div ng-controller="cart">
  <div ng-show="{{cart.length}}">
    <table class="table table-inverse">
      <thead>
        <tr>
          <td>PRODUCT</td>
          <td>Quantity</td>
          <td>Unit Price</td>
          <td>Amount</td>
          <td>ACTIONS</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in cart">
          <td><img ng-src="{{product.imgsrc}}" height="50px" width="50px">{{product.name}}</td>
          <td><input class="form-control" type="text" style="width:60px;" name="quantity" ng-model="product.quantity" value= "{{product.quantity}}" ng-bind="{{product.quantity}}" /></td>
          <td><p>{{product.price|currency }}</p></td>
          <td>{{product.price*product.quantity| currency}}</td>
          <td><button class="btn btn-danger btn-sm" ng-click="removeFromCart(product)">Remove</button></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p class="cart_heading">
          Promotional Code
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <input type="text" name="offer" placeholder="Enter Coupon Code" class="form-control"/>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p class="cart_heading">
          SubTotal
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        $ {{getCartPrice()}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p class="cart_heading">
          Checkout
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <button type="button" name="button" class="btn btn-success">Checkout</button>
      </div>
    </div>
  </div>
</div>
<div ng-include="'app/shared/footer/footer.html'"></div>
